/*-----General styling-----*/
$font-family-theme: "Nunito", sans-serif;

/*-----Top navigation-----*/
$topnav-bg: $dark;
$topnav-brand-height: 40px;
$topnav-title-color: $white
.navbar-brand{
    color: $white
}
/*-----Links-----*/
